  section {
    max-width: 720px;
    margin: 24px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .connection-status p {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
  }

  .online,
  .offline {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-block;
  }

  .online {
    background-color: rgb(146, 242, 174);
  }

  .offline {
    background-color: rgb(76, 76, 76);
  }

  .all-postage-stamp button {
    background-color: gray;
    color: #fff;
    padding: 16px;
    font-weight: 700;
  }